BasedOnStyle: Mozilla

# Left-pointer alignment
PointerAlignment: Left
ColumnLimit: 100

# Width of lines
IndentWidth: 2
NamespaceIndentation: All

AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
# AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true

# Newlines between each distinct definition (struct, namespace, method, variables, etc)
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true

# Space after { } initializers
Cpp11BracedListStyle: false

PackConstructorInitializers: Never

BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterObjCDeclaration: true
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: true
    BeforeCatch: true
    BeforeElse: true
    IndentBraces: false
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
